/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>

#define HOST_OS 1  //linux
#include "zmk-helpers/helper.h"

// Source desired key-position labels
#include "zmk-helpers/key-labels/sofle.h"

// Source unicode-chars for desired languages
#include "zmk-helpers/unicode-chars/portuguese.dtsi"


#define ___ &trans
#define NA &none

// Enumera as camadas do teclado
#define SENIPLY_BASE 0
#define MEDIA 1
#define ADJUST 2

// ABNT2 keycodes
// Mapeamento de teclas ABNT2 que são usados para o layout brasileiro
// Inspired by https://github.com/qmk/qmk_firmware/blob/master/quantum/keymap_extras/keymap_brazilian_abnt2.h
#define BR_SLSH INT1
#define BR_ACUT LBKT
#define BR_RBKT NUHS
#define BR_RBCT LS(NUHS)
#define BR_LBKT RBKT
#define BR_LBCT LS(RBKT)

// Abaixo, há especificações do comportamento do tap-hold para teclas com duplo comportamento
// Para mais detalhes: https://zmk.dev/docs/keymaps/behaviors/hold-tap

#define TAPPING_TERM 300 // Tempo em milissegundos para diferenciar o tap-hold

// Para teclas com tap-hold em que o hold é um modificador, como CTRL, ALT, etc
&mt {
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <TAPPING_TERM>;
    flavor = "balanced"; // Pode ser "balanced", "hold-preferred" ou "tap-preferred"
};

// Para teclas com tap-hold em que o hold é uma mudança de camada, como SYMB_NAV, MEDIA, etc
&lt {
    tapping-term-ms = <TAPPING_TERM>;
    quick-tap-ms = <TAPPING_TERM>;
    flavor = "balanced"; // Pode ser "balanced", "hold-preferred" ou "tap-preferred"
};

&sk {
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

// Combos do teclado
/ {
    combos {
        compatible = "zmk,combos";
        combo_dongle_bootloader {
            // Faz o dongle entrar em modo de bootloader, para gravacao do firmware
            timeout-ms = <30>; // Tempo de tolerancia para apertar as teclas ao mesmo tempo
            key-positions = <50 51 58 59>; // 2 primeiras e 2 ultimas teclas da linha de teclas mais abaixo do teclado
            bindings = <&bootloader>; // Tecla a ser simulada ao apertar a combinação acima
        };
        combo_unlock_zmk_studio {
            // Desbloqueia o ZMK Studio
            timeout-ms = <30>; // Tempo de tolerancia para apertar as teclas ao mesmo tempo
            key-positions = <50 59>; // primeira e última teclas da linha de teclas mais abaixo do teclado
            bindings = <&studio_unlock>; // Tecla a ser simulada ao apertar a combinação acima
        };
        combo_esc {
            key-positions = <28 31>; //j+k
            timeout-ms = <30>; // Tempo de tolerancia para apertar as teclas ao mesmo tempo
            bindings = <&kp ESC>;
        };
    };
};

/ {
    behaviors {
	sk_mt: sticky_key_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM>;
            bindings = <&mo>, <&sk>;
        };

	hp_mt: hold_preferred_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <TAPPING_TERM>;
            flavor = "hold-preferred"; // Pode ser "balanced", "hold-preferred" ou "tap-preferred"
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        rot_msc: sensor_rotate_msc {
            compatible = "zmk,behavior-sensor-rotate-var";
	    tap-ms = <20>;
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
        };
    };
};


// Mapeamento de teclas e camadas do teclado

ZMK_LAYER(seniply_base_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    NA            NA            NA            NA            NA            NA                                               NA            NA            NA            NA            NA            NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp Q         &kp W         &kp E         &kp R         &kp T                                            &kp Y         &kp U         &kp I         &kp O         &kp P         NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp A         &kp S         &kp D         &kp F         &kp G                                            &kp H         &kp J         &kp K         &kp L         &kp SEMI      NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╭─────────────╮    ╭─────────────╮├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp Z         &kp X         &kp C         &kp V         &kp B          &mo MEDIA          &mo ADJUST     &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      NA
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯    ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                NA            NA            NA            &kp LSHFT      NA                   NA           &kp SPACE     NA            NA            NA
//                             ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯      ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(media_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    NA            NA            NA            NA            NA            NA                                               NA            NA            NA            NA            NA            NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp Q         &kp W         &kp E         &kp R         &kp T                                            &kp Y         &kp U         &kp I         &kp O         &kp P         NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp A         &kp S         &kp D         &kp F         &kp G                                            &kp H         &kp J         &kp K         &kp L         &kp SEMI      NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╭─────────────╮    ╭─────────────╮├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp Z         &kp X         &kp C         &kp V         &kp B          &mo MEDIA          &mo ADJUST     &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      NA
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯    ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                NA            NA            NA            &kp LSHFT      NA                   NA           &kp SPACE     NA            NA            NA
//                             ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯      ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(adjust_layer,
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    NA            NA            NA            NA            NA            NA                                               NA            NA            NA            NA            NA            NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp Q         &kp W         &kp E         &kp R         &kp T                                            &kp Y         &kp U         &kp I         &kp O         &kp P         NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp A         &kp S         &kp D         &kp F         &kp G                                            &kp H         &kp J         &kp K         &kp L         &kp SEMI      NA
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╭─────────────╮    ╭─────────────╮├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    NA            &kp Z         &kp X         &kp C         &kp V         &kp B          &mo MEDIA          &mo ADJUST     &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      NA
// ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯    ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯
                                NA            NA            NA            &kp LSHFT      NA                   NA           &kp SPACE     NA            NA            NA
//                             ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯      ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
)