/*
 * ROMAO Layer Declarations
 * Generated ZMK_LAYER declarations for all ROMAO layers
 */
// Layer declarations using ZMK_LAYER macro
/ {
  keymap {
    compatible = "zmk,keymap";
#define ROMAO_X(LAYER, STRING) \
    LAYER { \
      display-name = STRING; \
      bindings = < R_MACRO_VA_ARGS(ROMAO_LAYER_MAPPING, ROMAO_LAYER_##LAYER) >; \
    };
ROMAO_LAYER_LIST
#undef ROMAO_X
  };
};