/*
 * ROMAO Layer Declarations
 * Generated ZMK_LAYER declarations for all ROMAO layers
 */
// Layer declarations using ZMK_LAYER macro
ZMK_LAYER(ROMAO_LAYER_NAME_DEFAULT, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_DEFAULT))
ZMK_LAYER(ROMAO_LAYER_NAME_CAMEL_CASE, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CAMEL_CASE))
ZMK_LAYER(ROMAO_LAYER_NAME_SNAKE_CASE, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SNAKE_CASE))
ZMK_LAYER(ROMAO_LAYER_NAME_CONSTANT, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CONSTANT))
ZMK_LAYER(ROMAO_LAYER_NAME_KEBAB_CASE, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_KEBAB_CASE))
ZMK_LAYER(ROMAO_LAYER_NAME_SLASH_CASE, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SLASH_CASE))
ZMK_LAYER(ROMAO_LAYER_NAME_SPACING, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SPACING))
ZMK_LAYER(ROMAO_LAYER_NAME_CAPSWORD, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CAPSWORD))
ZMK_LAYER(ROMAO_LAYER_NAME_CAPSLINE, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CAPSLINE))
ZMK_LAYER(ROMAO_LAYER_NAME_ALPHA2, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_ALPHA2))
ZMK_LAYER(ROMAO_LAYER_NAME_NUMBERS, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_NUMBERS))
ZMK_LAYER(ROMAO_LAYER_NAME_SYMBOLS, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SYMBOLS))
ZMK_LAYER(ROMAO_LAYER_NAME_SENTENCE_CASE, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SENTENCE_CASE))
ZMK_LAYER(ROMAO_LAYER_NAME_CCEDIL, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CCEDIL))
ZMK_LAYER(ROMAO_LAYER_NAME_SHIFTED_ALPHA2, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SHIFTED_ALPHA2))
ZMK_LAYER(ROMAO_LAYER_NAME_CASE_ALPHA2, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CASE_ALPHA2))
ZMK_LAYER(ROMAO_LAYER_NAME_CASE_CCEDIL, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_CASE_CCEDIL))
ZMK_LAYER(ROMAO_LAYER_NAME_SHORTCUTS, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SHORTCUTS))
ZMK_LAYER(ROMAO_LAYER_NAME_MEHS, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_MEHS))
ZMK_LAYER(ROMAO_LAYER_NAME_PLAIN1, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_PLAIN1))
ZMK_LAYER(ROMAO_LAYER_NAME_PLAIN2, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_PLAIN2))
ZMK_LAYER(ROMAO_LAYER_NAME_SHIFTED_PLAIN2, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SHIFTED_PLAIN2))
ZMK_LAYER(ROMAO_LAYER_NAME_SECONDARY_ALTERNATE_REPEAT, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SECONDARY_ALTERNATE_REPEAT))
ZMK_LAYER(ROMAO_LAYER_NAME_NAVIGATION, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_NAVIGATION))
ZMK_LAYER(ROMAO_LAYER_NAME_NUMBERS_COPY, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_NUMBERS_COPY))
ZMK_LAYER(ROMAO_LAYER_NAME_SYMBOLS_COPY, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SYMBOLS_COPY))
ZMK_LAYER(ROMAO_LAYER_NAME_MEDIA, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_MEDIA))
ZMK_LAYER(ROMAO_LAYER_NAME_NAVIGATION_COPY, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_NAVIGATION_COPY))
ZMK_LAYER(ROMAO_LAYER_NAME_TEXT, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_TEXT))
ZMK_LAYER(ROMAO_LAYER_NAME_FUNCTIONS, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_FUNCTIONS))
ZMK_LAYER(ROMAO_LAYER_NAME_SMART, R_MACRO_VA_ARGS(ROMAO_MAPPING, ROMAO_LAYER_SMART))
